---
interface Props {
	title: string;
}

const { title } = Astro.props;

// Layout.astro
import "../style/global.css";


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<div class="left-nav">
				<h1 class="home">⌫ home</h1>
				<h1 class="article">&lbrace;&rbrace; articles</h1>
			</div>
			<h1 class="nav-item info">︎⌘ info</h1>
		</header>

			<slot />
			<!-- 图片将在这里动态插入 -->

			
		</div>		
	</body>
</html>

